{% extends "base.html" %}
{% block title %}BlogCreator{% endblock %}
{% block rootclass %}accueil{% endblock %}
{% block stylesheets %}
{% parent %}
<link href="{{ base_URI }}/assets/css/bootstrap.css" rel="stylesheet">
<link href="{{ base_URI }}/assets/css/header.css" rel="stylesheet">
<link href="{{ base_URI }}/assets/css/grayscale.css" rel="stylesheet">
<link href="{{ base_URI }}/assets/css/back.css" rel="stylesheet">
{% endblock %}
{% block body %}
	{% include 'header.html' %}
    
	<section id="blogs" class="container content-section text-center">
        <div class="wrap">
            <div class="row">
            	<div>
            		<h2>Blogs</h2>
            	</div>
                <div class="blogs line">
                {% for blog in blogs %}
                    {% include '../BaseFront/blogsHome.html' %}
                {% endfor %}
        		</div>
            </div>
        </div>
    </section>


{% block javascripts%}
	{% parent %}
		<script type="text/javascript" src="{{ base_URI }}/assets/js/home.js"></script>
{% endblock %}


{% endblock %}