{% extends "base.html" %}
{% block title %}BlogCreator{% endblock %}
{% block rootclass %}articles{% endblock %}
{% block stylesheets %}
{% parent %}
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../assets/css/header.css" rel="stylesheet">
<link href="../assets/css/grayscale.css" rel="stylesheet">
<link href="../assets/css/back.css" rel="stylesheet">
{% endblock %}
{% block body %}
	{% include 'header.html' %}
	<div class="main">
		<div class="wrap">
			<div>
	        	<a href="/create/article/{{actualBlog}}"><button class="button button--pipaluk button--inverted clear">Poster</button></a>
	        </div>
			<div>
	        	<h2>Mes Articles</h2>
	        </div>
			<div class="blog_post">
			{% for article in articles %}
				{% include 'list.html'%}
			{% endfor %}
			</div>
		</div>
	</div>
{% block javascripts%}
	{% parent %}
		<script type="text/javascript" src="../assets/js/home.js"></script>
{% endblock %}
{% endblock %}