{% extends "base.html" %}
{% block title %}BlogCreator{% endblock %}
{% block rootclass %}create{% endblock %}
{% block stylesheets %}
<link href="{{base_URI}}/assets/css/bootstrap.css" rel="stylesheet">
<link href="{{base_URI}}/assets/css/header.css" rel="stylesheet">
<link href="{{base_URI}}/assets/css/grayscale.css" rel="stylesheet">
<link href="{{base_URI}}/assets/css/back.css" rel="stylesheet">
{% endblock %}
{% block body %}
	{% include 'header.html' %}
	<div class="main">
		<div class="wrap">
			<form method="post" action="">
				{% if createBlog == true %}
					<label><h3>Nom du blog</h3></label>
					<input type="text" name="name" placeholder="Nom du blog"/>
					<label><h3>Catégories</h3></label>
					<input type="text" name="category" placeholder="Catégories"/>
				{% endif %}
				{% if createArticle == true %}
					<label><h3>Titre</h3></label>
					<input type="text" name="title" placeholder="Titre de l'article" {% if article.title %} value="{{article.title}}"{% endif %}/>
					<textarea id="myTextarea" name="content">
						{% if article.text %}
							{{article.text}}
						{% endif %}
					</textarea>
				{% endif %}
					<input type="submit" name="submit" value="Publiez"/>
			</form>
		</div>
	</div>
{% block javascripts%}
	{% parent %}
		<script type="text/javascript" src="{{base_URI}}/assets/js/tinymce.min.js"></script>
		<script type="text/javascript" src="{{base_URI}}/assets/js/home.js"></script>
		<script>tinymce.init({ 
    	selector:'#myTextarea',
    	theme: 'modern',
    	width: 850,
    	height: 300,
    	content_css: 'skins/lightgray/content.min.css',
    	menubar: false,
    	plugins: [
	      'autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
	      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
	      'save table contextmenu directionality emoticons template paste textcolor'
	    ],
    	toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | link image |  preview media fullpage | forecolor backcolor emoticons'
    });</script>
{% endblock %}
{% endblock %}
