
<nav class="navbar navbar-custom navbar-fixed-top">
	<div id="container">
		<div class="navbar-header">
			<h1 class="logo">
				<a class="navbar-brand page-scroll" href="/accueil">
					<img src="../assets/img/logo3.png">
				</a>
			</h1>
			<ul class="nav navbar-nav">
			<li>
                <form action="#" method="post" id="search" class="left">
				   <img src="assets/img/nav-search-loupe.png">
				    <input name="search" type="search" placeholder="Rechercher des blogs" />
				    <button type="submit" name="ok">ok</button>
			    </form>
            </li>
           
	            <div class="account">
			        <p class="post"><a href="/articles" title="">Poster un article</a></p>
			        <a href="#" class="photo">
			            <img src="../assets/img/user-test.gif" alt="photo profil">
			            <div class="photo-username">{{session.pseudo}} lili</div>
			        </a>
			        <div id="menu">
			            <ul class="clearfix">
			                <li><a href="/profil">Mon profil</a></li>
			                <li><a href="#" class="userBlog" >Mon Blog</a></li>
			                <li><a href="#">Déconnexion</a></li>
			            </ul>
			        </div>
			    </div>
		    </ul>
		</div>
	</div>
</nav>