<div class="infos">
	<a href="/articles/{{blog._id}}">{{ blog.name }}</a>
	<p class="post"><a href="/articles/{{blog._id}}" title="ajouter des articles à {{blog.name}}"></a></p>
</div>

<div class="infos">
	<a href="#">{{ blog.name }}</a>
	<p class="post"><a href="/articles" title=""></a></p>
</div>
<div class="infos">
	<a href="#">{{ blog.name }}</a>
	<p class="post"><a href="/articles" title=""></a></p>
</div>
<div class="infos">
	<a href="#">{{ blog.name }}</a>
	<p class="post"><a href="/articles" title=""></a></p>
</div>
