<!-- Remplacé par les variables -->
<div class="latest-post">
    <div class="w250 img"><img src="{{ article.picture }}"></div>
    <div class="content_post w250">
        <div class="post_title">
            <a href="/detailArticle">
                <h4>{{ article.title }}</h4>
            </a>
        </div>
        <div class="post_desc">
            <p>{{ article.content|striptags}}</p>
        </div>
        <div class="post_meta">
            <div class="meta_info">
                <span class="date">{{ article.createdAt|date('d M Y - H:i')|toString }}</span>
            </div>
            <div class="meta_info">
        <span class="comment"><a href="/Blog/article">{{ article.nbComments}}</a></span>
            </div>
        </div>
        <div class="edit">
            <a href="{{base_URI}}/edit/article/{{ article._id }}">Modifier</a>
            <form method="delete" action="{{base_URI}}/article/{{actualBlog}}/{{article._id}}">
                <button type="submit">X</button>
            </form>
            
        </div>
    </div>
    <div class="clear"></div>
</div>