<div class="message">
	<img src="../assets/img/user-test.gif" alt="profil">
	<div class="content_post w250">
		<h3>{{ message.author}}</h3>
		<div class="post_desc">
			<p>{{ message.message}}</p>
		</div>
		<div class="post_meta">
            <div class="meta_info">
                <span class="date">{{message.createdAt}}</span>
            </div>
            <div>
                <form>
                    <button type="submit" id="suppr">X</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="message">
	<img src="../assets/img/user-test.gif" alt="profil">
	<div class="content_post w250">
		<h3>Lili</h3>
		<div class="post_desc">
			<p>T'es trop belle ;)</p>
		</div>
		<div class="post_meta">
            <div class="meta_info">
                <span class="date">17 novembre 2015 - 18h38 min</span>
            </div>
            <div>
                <form>
                    <button type="submit" id="suppr">X</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="message">
	<img src="../assets/img/user-test.gif" alt="profil">
	<div class="content_post w250">
		<h3>Lili</h3>
		<div class="post_desc">
			<p>T'es trop belle ;)</p>
		</div>
		<div class="post_meta">
            <div class="meta_info">
                <span class="date">17 novembre 2015 - 18h38 min</span>
            </div>
            <div>
                <form>
                    <button type="submit" id="suppr">X</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="message">
	<img src="../assets/img/user-test.gif" alt="profil">
	<div class="content_post w250">
		<h3>Lili</h3>
		<div class="post_desc">
			<p>T'es trop belle ;)</p>
		</div>
		<div class="post_meta">
            <div class="meta_info">
                <span class="date">17 novembre 2015 - 18h38 min</span>
            </div>
            <div>
                <form>
                    <button type="submit" id="suppr">X</button>
                </form>
            </div>
        </div>
    </div>
</div>