<div class="message">
	<img src="{{ base_URI }}/{{message.picture}}" alt="profil">
	<div class="content_post w250">
		<h3>{{ message.author}}</h3>
		<div class="post_desc">
			<p>{{ message.text}}</p>
		</div>
		<div class="post_meta">
            <div class="meta_info">
                <span class="date">{{message.createdAt|date('d M Y - H:i')|toString}}</span>
            </div>
            <div>
                {% if mine == true %}
                <form>
                    <button type="submit" id="suppr">X</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>