{% extends "base.html" %}
{% block title %}BlogCreator{% endblock %}
{% block rootclass %}profil{% endblock %}
{% block stylesheets %}

<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../assets/css/header.css" rel="stylesheet">
<link href="../assets/css/grayscale.css" rel="stylesheet">
<link href="../assets/css/back.css" rel="stylesheet">
{% endblock %}
{% block body %}
	{% include 'header.html' %}

	<div class="main">
		<div class="wrap">
			<div class="user">
				<img src="../assets/img/user-test.gif" alt="profil">
				<h3>{{session.pseudo}}</h3>
				<p>Changer sa photo de profil</p>
			</div>
			<a href="/create"><button class="button button--pipaluk button--inverted clear">Creer Un Blog</button></a>
			<!--MESSAGERIE-->
			<div class="messagerie">
				<form action="#" method="post" id="search" class="left">
				   <input name="search" id="msg" type="text" placeholder="Laissez un message à {{ session.pseudo }}" />
				   <button type="submit" name="send">Envoyer</button>
				</form>
				<div class="overflow">
					{% for message in messages %}
						{% include 'message.html' %}
					{% endfor %}
				</div>
			</div>

			<div class="infos">
				{% for blog in blogs %}
						{% include 'info.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
{% block javascripts%}
	{% parent %}
		<script type="text/javascript" src="../assets/js/home.js"></script>
{% endblock %}
{% endblock %}
