{% extends "base.html" %}
{% block title %}BlogCreator{% endblock %}
{% block rootclass %}profil{% endblock %}
{% block stylesheets %}

<link href="{{ base_URI }}/assets/css/bootstrap.css" rel="stylesheet">
<link href="{{ base_URI }}/assets/css/header.css" rel="stylesheet">
<link href="{{ base_URI }}/assets/css/grayscale.css" rel="stylesheet">
<link href="{{ base_URI }}/assets/css/back.css" rel="stylesheet">
{% endblock %}
{% block body %}
	{% include 'header.html' %}

	<div class="main">
		<div class="wrap">
			<div class="user">
				<img src="{{ base_URI }}/assets/img/default.png" alt="profil">
				<h3>{{session.pseudo}}</h3>
				<p>
					<form action="" method="post" enctype="multipart/form-data">
					    <div class="upload">
					    <p>Changer sa photo de profil</p>
					        <input type="file" name="upload"/>
					    </div>
					</form>
				</p>
			</div>
			<a href="/create"><button class="button button--pipaluk button--inverted clear">Creer Un Blog</button></a>
			<!--MESSAGERIE-->
			<div class="messagerie">
				<form action="#" method="post" id="search" class="left">
				   <input name="search" id="msg" type="text" placeholder="Laissez un message à {{ session.pseudo }}" />
				   <button type="submit" name="send">Envoyer</button>
				</form>
				<div class="overflow">
					{% for message in messages %}
						{% include 'message.html' %}
					{% endfor %}
				</div>
			</div>

			<div class="info">
			<div class="block">
				<h2>Mes Blogs</h2>
				{% for blog in blogs %}
					{% include 'info.html' %}
				{% endfor %}
			</div>
				<div class="block">
					<h2>Mes Amis</h2>
					{% for friend in friends %}
						{% include 'friend.html' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% block javascripts%}
	{% parent %}
		<script type="text/javascript" src="{{ base_URI }}/assets/js/home.js"></script>
{% endblock %}
{% endblock %}
