<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="{{base_URI}}/blog/{{blog.author}}/{{blog._id|toString}}" title="View the blogs">
                <img src="{{blog.picture}}"  alt="blog attached picture">
                <p class="blog-title">{{blog.name}}</p>
            </a>
            <p class="blog-infos">
                <a href="{{base_URI}}/profil/{{blog.author_id|toString}}" class="userFile" data-id="{{ blog.author_id|toString }}">{{blog.author}}</a>
                <span>{{blog.createdAt|date('d M Y - H:i')|toString}}</span>
            </p>
        </li>
    </ul>
</div>