<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>
<div class="blogs-col">
    <ul>
        <li class="clearfix">
            <a href="#" title="View the blogs">
                <img src="../../assets/img/test-blog.jpg"  alt="blogs attached picture">
                <p class="blog-title">xXBoulouXx</p>
            </a>
            <p class="blog-infos">
                <a href="#" class="userFile" data-id="{{ idea.author.id }}">Bouloulou</a>
                <span>06/05/85</span>
            </p>
        </li>
    </ul>
</div>