<header class="header_container">
	<div class="container">
		<div class="logo">
			<h1>
					<!-- Si upload photo-->
				<a href="#"><img src="{{ base_URI }}/assets/img/test.jpg" alt="Image de mon blog"></a>
					<!-- else 
					qqchose d'autres-->
			</h1>
		</div>
		<div class="nav_container">
			<nav class="main_navbar navbar">
				<ul id="menu-menu" class="nav">
					<li><a href="{{base_URI}}/Blog">ACCUEIL</a></li>
					<li><a href="#">A PROPOS</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>