<!-- Remplacé par les variables -->
<div class="latest-post">
    <div class="w250 img"><img src="../assets/img/article_test.jpg"></div>
    <div class="content_post w250">
        <div class="post_title">
            <a href="article">
                <h4>Boulou</h4>
            </a>
        </div>
        <div class="post_desc">
            <p>sdgjhezlvinvr nbrjtb,fkj lkrjety,bjr kljtrhkje</p>
        </div>
        <div class="post_meta">
            <div class="meta_info">
                <span class="date">17 novembre 2015 - 18h38 min</span>
            </div>
            <div class="meta_info">
        <span class="comment">2<!--{{ idea.nbComments }}--></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>