<!-- Remplacé par les variables -->
<div class="latest-post">
    <div class="w250 img"><img src="{{base_URI}}/{{ article.picture }}"></div>
    <div class="content_post w250">
        <div class="post_title">
            <a href="{{base_URI}}/blog/{{author.name}}/{{curBlog}}/{{article._id|toString}}">
                <h4>{{ article.title }}</h4>
            </a>
        </div>
        <div class="post_desc">
            <p>{{ article.content|striptags}}</p>
        </div>
        <div class="post_meta">
            <div class="meta_info">
                <span class="date">{{ article.createdAt|date('d M Y - H:i') }}</span>
            </div> 
            <div class="meta_info">
        <span class="comment">{{ article.nbComments }}</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>