<div class="post-body">
    <div class="entry_content w250">
        <p>sdgjhezlvinvr nbrjtb,fkj lkrjety,bjr kljtrhkjejhtrjytj rtuye u ye'y-yertt hdfjj</p>
        <div class=" ma mb15 w630 img"><img src="../assets/img/article_test.jpg"></div>
        
        <div class="post_meta">
            <div class="meta_info">
                <span class="date">17 novembre 2015 - 18h38 min</span>
            </div>
            <div class="meta_info">
        <span class="comment">2<!--{{ idea.nbComments }}--></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="comment_box">
        <div class="comment_header">
            <h4>COMMENTAIRES</h4>
        </div>
        <div class="comment_form">
            <form id="commentform" class="commentform" method="post" action="#">
                <input type="text" id="author" name="name" placeholder="Name"/>
                <input type="text" id="" name="" placeholder=""/>
                <textarea name="comment" id="comment" cols="75" rows="10"></textarea>
                <p><input type="submit" class="submit" id="submit" value="Laisser un commentaire" name="submit"></p>
            </form>
        </div>
    </div>
</div>