{% extends "../BaseFront/base.html" %}
{% block title %}MyBlog{% endblock %}
{% block rootclass %}details{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ base_URI }}/assets/css/homeBlog.css">
{% endblock %}
{% block body %}
  {% include '../BaseFront/header.html'%}
	<section class=" section_container container">
		<div class="main_section">
			<div class="news">
				<header class='content_banner'>
					<div>
						<h3>{{article.title}}</h3>
					</div>
				</header>
				<div class="blog_post">
					<div class="post-body">
						<div class="entry_content w250">
					        <p>{{ article.content|striptags }}</p>
					        <div class=" ma mb15 w630 img"><img src="{{base_URI}}/{{ article.picture }}"></div>
					        
					        <div class="post_meta">
					            <div class="meta_info">
					                <span class="date">{{ article.createdAt|date('d M Y - H:i') }}</span>
					            </div>
					            <div class="meta_info">
					        <span class="comment">{{ article.nbComments }}</span>
					            </div>
					        </div>
					    </div>
					    <div class="clear"></div>
					    <div class="comment_box">
					    <div class="comment_form">
						{% for comment in comments %}
		        			{% include 'comment.html'%}
						{% endfor%}
							<form id="commentform" class="commentform" method="post" action="{{base_URI}}/articles/comment">
								<input type="hidden" name="id_sender" value="{{session._id|toString}}" />
								<input type="hidden" name="id_article" value="{{curArticle|toString}}"/>
								<input type="hidden" name="pseudo" value="{{author.pseudo}}" />
								<input type="hidden" name="id_blog" value="{{curBlog|toString}}" />
				            	<textarea name="comment" id="comment" cols="75" rows="10"></textarea>
				            	<p><input type="submit" class="submit" id="submit" value="Laisser un commentaire" name="submit"></p>
        					</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<aside class="page_side_bar home_sidebar">
				{% include 'profil.html' %}
				{% include 'search.html'%}
			<div id="postlist" class="widget_container">
				<div class="widget_title">
					<h4>ARTICLES POPULAIRES</h4>
				</div>
				<!--ARTICLE BOUCLE SWIG-->
				<div>
					<!--photo / titre
								date
						border_bottom-->
				</div>
			</div>
		</aside>
	</section>
	<div class="clear"></div>
	{% include '../BaseFront/footer.html' %}
{% endblock%}